{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<h1>Index</h1>

<a href="{{ url('book:create') }}">Créer un nouveau livre</a>


{% for book in books %}
    <div>{{ book.title }}</div>
{% endfor %}

{% endblock %}
